{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
      #speakers {
    padding: 60px 0 30px 0;
  }
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -40px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  #speakers .speaker .details .social {
    height: 40px;
  }
  #speakers .speaker .details .social i {
    line-height: 0;
    margin: 0 2px;
  }
  #speakers .speaker .details a {
    color: #fff;
  }
  #speakers .speaker .details a:hover {
    color: #f82249;
  }
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #speakers-details .details .social {
    margin-bottom: 15px;
  }
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  #speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
  }
  #speakers-details .details .social a i {
    font-size: 16px;
    line-height: 0;
  }
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
</style>
<br>

    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
        <div class="container" data-aos="fade-up">
          <h2 class="section-title" data-aos="fade-up" style="font-weight: bold;">آخرین پست های وبلاگ</h2>
          <div class="row">


  {% for post in posts %}
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="{{post.main_img.url}}" alt="Speaker 1" class="img-fluid">
                <div class="details">
                  <h3><a type="button" data-bs-toggle="modal" data-bs-target="#box{{post.id}}">{{post.short_info}}</a></h3>
                  <p>{{post.title}}</p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

      {% endfor %}  
    </div>
        </div>
        
  
      </section><!-- End Speakers Section -->
      {% for post in posts %}
      <div id="box{{post.id}}" class="modal fade " tabindex="-1">
        <div  class="modal-dialog modal-fullscreen modal-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{post.title}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div  class="modal-body">
              <section id="speakers-details">
                <div class="container">
                  <div class="section-header">
                    <h2>{{post.short_info}} </h2>
                    <p></p>
                  </div>
          
                  <div class="row">
                    <div class="col-md-6">
                      <img src="{{post.main_img.url}}" alt="Speaker 1" class="img-fluid">
                    </div>
          
                    <div class="col-md-6">
                      <div class="details">
                        <h2>{{post.title}}</h2>
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                        <p>{{post.text}}.</p>
          
                        <p>{{post.text2}}</p>
          
                        <p>{{post.text3}}</p>
                      </div>
                    </div>
          
                  </div>
                </div>
          
              </section>
          
.....
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

  






{% endblock content %}
