{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main dir="rtl" id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>تماس با پدیده فوم</h2>
          <p>از طریق فرم زیر با ما در تماس باشید</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>مکان</h4>
                <p>شیراز/ساحلی غربی</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>ایمیل</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>شماره تماس</h4>
                <p>+989173000174</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form id="contact-form" action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="نام" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="آدرس ایمبل" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع پیام" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="متن پیام" required></textarea>
              </div>
              <div class="text-center"><button type="submit">ارسال پیام</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>
    const form = document.getElementById('contact-form');
  form.addEventListener("submit",submitHandler);
  function submitHandler(e) {
      var serializedData = $(this).serialize();
      e.preventDefault();
      $.ajax({
          type: 'POST' , 
          url : '{% url "contact" %}',
          data: serializedData  ,
          dataType: 'json',
          success: function (data) {
              if (data.msg === 'Success') {
                  alert('پیام شما دریافت شد و با شما تماس خواهم گرفت');
                  $("#contact-form").trigger('reset');
        }
      }
   })
  }
  
  </script>

{% endblock content %}